# Retry configuration for better reliability
fetch-retry-maxtimeout=600000
fetch-retry-mintimeout=100000
fetch-timeout=600000
fetch-retries=5

# Use legacy peer deps
legacy-peer-deps=true

# Disable audit during install (speeds up builds)
audit=false

# Disable fund messages
fund=false
